<section class="TodoSection">
  <div class="TodoSectionTitle">
    <p class="TodoSectionTitle-text"><%= section_title %></p>
    <p class="TodoSectionTitle-remainingCount"><%= todos.completed.count %>/<%= todos.count %></p>

  </div>
  <ul>
    <% todos.all.each do |todo| %>
      <li class="TodoItem">
      <label class="TodoItem-container">

        <% if !todo.completed %>

          <%= form_with(url: "/todos/#{todo.id}",method: "put") do %>
            <input
              class="TodoItem-checkbox"
              name="completed"
              type="checkbox"
              onclick="this.form.submit()"
            />

          <%end%>
          <%= todo.todo_text %>
          <% if show_due_date %>
            <p class="TodoItem-dueDate" ><%= todo.due_date.to_s(:short) %></p>
          <%end%>
          <a href="javascript:void(0)" class="TodoItem-delete">
            <%= form_with(url: "/todos/#{todo.id}",method: "delete") do %>
              <input type='image' src="trashcan.png">

            <%end%>
          </a>
        <%end%>
        <% if (!show_completed_todo && todo.completed) %>
        <%end%>
        <% if (show_completed_todo && todo.completed) %>
          <%= form_with(url: "/todos/#{todo.id}",method: "put") do %>
            <input
              class="TodoItem-checkbox"
              name="completed"
              type="checkbox" checked
              onclick="this.form.submit()"
            />
            <%end%>

          <p class="TodoItem-text" ><%= todo.todo_text %></p>
          <% if show_due_date %>
            <p class="TodoItem-dueDate" ><%= todo.due_date.to_s(:short) %></p>
          <%end%>
          <a href="javascript:void(0)" class="TodoItem-delete">
           <%= form_with(url: "/todos/#{todo.id}",method: "delete") do %>
              <input type='image' src="trashcan.png">

            <%end%>
          </a>
        <%end%>

      </label>
      </li>
    <%end%>


  </ul>
</section>
