<section class="TodoSection">
  <div class="TodoSectionTitle">
    <p class="TodoSectionTitle-text"><%= section_title %></p>
    <p class="TodoSectionTitle-remainingCount"><%= todos.completed.count %>/<%= todos.count %></p>

  </div>
  <ul>
    <% todos.all.each do |todo| %>
      <li class="TodoItem">
      <label class="TodoItem-container">
        <% if !todos.completed %>
          <input class="TodoItem-checkbox" type="checkbox">
          <%= todo.todo_text %>
          <% if show_due_date %>
            <p class="TodoItem-dueDate" ><%= todo.due_date.to_s(:short) %></p>
          <%end%>
        <%end%>
        <% if !show_completed_todo && todos.completed %>
          <% break %>
        <%end%>
        <% if show_completed_todo && todos.completed %>
          <input class="TodoItem-checkbox" type="checkbox" checked>
          <p class="TodoItem-text" ><%= todo.todo_text %></p>
          <% if show_due_date %>
            <p class="TodoItem-dueDate" ><%= todo.due_date.to_s(:short) %></p>
          <%end%>
          <%break%>
        <%end%>

      </label>
      </li>
    <%end%>


  </ul>
</section>
